.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

.small {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.button {
    background: #eae3db;
    border: none;
    border-radius: 2px;
    width: 3em;
    height: 2em;
    color: #3b4664;
    font-size: bold;
    box-shadow: 0 2px 0px 0px#b2a399;
}

.button:hover {
    transform: scale(1.05);
    background: #ffff;
    cursor: pointer;
}

.eraser {
    background: #637298;
    color: #FFFF;
    box-shadow: 0 2px 0px 0px #434f76;
}

.eraser:hover {
    background: #a1b3e1;
}

.big {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.big-button {
    border: none;
    border-radius: 2px;
    width: 7.25em;
    height: 2em;
}

.equals {
    background: #d13f30;
    color: #ffff;
    box-shadow: 0 2px 0px 0px #772925;
}

.equals:hover {
    transform: scale(1.05);
    background: #f96c5b;
}